select{
    background: var(--background);
    color: var(--text-nav);
}

.card_cryp_best{
    background: var(--bg-card-crypto-best);
    padding: 30px 10px 30px 40px;
    height: 100%;
    border-radius: 10px;
  }

.select_filter select{
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    background: var(--background);
    color: #7b7b7b;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0 2px;
}

option{
    padding: 20px;
    outline: none;
    border: none;
}

.name-cry-info img{
    width: 30px;
    height: 30px;
}

.row-crypto{
    border-bottom: 2px solid var(--border-crypto);
    border-top: 2px solid var(--border-crypto);
}

@media (max-width: 1000px) {
    .row-crypto p{
        font-size: .9rem;
    }
    /* .card_cryp_best{
        background: var(--bg-card-user);
        padding: 30px 10px 30px 40px;
        max-width: 49%!important;
        min-width: 49%!important;
        height: 100%;
        border-radius: 10px;
      } */
}

@media (max-width: 900px) {
    .row-crypto p{
        font-size: .8rem;
    }
}


@media (max-width: 768px) {
    .info-cry-none{
        display: none;
    }
    .name-cry-info img{
        width: 20px;
        height: 20px;
    }
    .name-cry-info{
        font-size: .8rem;
    }
    /* 
      .card_cryp_best{
        background: var(--bg-card-user);
        padding: 30px 10px 30px 40px;
        max-width: 100%!important;
        min-width: 100%!important;
        height: 100%;
        border-radius: 10px;
      } */
}
