select{
    background: var(--background);
    color: var(--text-nav);
}

.select_filter select{
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    background: var(--background);
    color: #7b7b7b;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0 2px;
}

option{
    padding: 20px;
    outline: none;
    border: none;
}

.name-cry-info img{
    width: 30px;
    height: 30px;
}

.row-crypto{
    border-bottom: 2px solid var(--border-crypto);
    border-top: 2px solid var(--border-crypto);
}

@media (max-width: 1000px) {
    .row-crypto p{
        font-size: .9rem;
    }
}

@media (max-width: 900px) {
    .row-crypto p{
        font-size: .8rem;
    }
}


@media (max-width: 768px) {
    .info-cry-none{
        display: none;
    }
    .name-cry-info img{
        width: 20px;
        height: 20px;
    }
    .name-cry-info{
        font-size: .8rem;
    }
}
