.general{
    font-family: 'Oxygen', sans-serif;
    padding: 30px;
    
        
    /* background: rgb(238, 69, 64); */
    background: linear-gradient(
      180deg,
      #ffc107 100%,
      #ffc107 45%,
      #ffc107 30%,
      #e2f10e 15%,
      #e2f10e 0%)
            
}

.contit{
    display:flex;
    justify-content: center;
    margin-bottom: 10px;    
}

.titulo{
    color: #080d22;
    font-weight: bolder;
    margin: 10px;
    
}

.bortit{
    border: 5px;
    border-color:darkgoldenrod;
    border-style:solid;
    border-radius: 5%;
    align-content: center;
    width: 20em;
}

.gridp{
    display:flex;
    justify-content: center;
}

.cardh{
    margin-bottom: 10px;
}