.profile-nav{
    min-height: 55px;
    max-height: 55px;
    max-width: 55px;
    border-radius: 50%;
    border: 3px solid #645bff;
    background-color: #fff;
}

.img-profile-nav{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.img-profile-nav-desp{
    min-height: 90px;
    max-height: 90px;
    max-width: 90px;
    border-radius: 50%;
    border: 3px solid #645bff;
    background-color: #fff;
    margin: 0.5em;
}

.img-profile-details{
    height: 100px;
    width: 60px;
    border-radius: 50%;
}

.dropdown-menu{
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    left: -12em!important;
    width: 16em!important;
    
}

.modal_drop{
    background: linear-gradient(to bottom, #ffc107 0%, #e2f10e 100%); 
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 3px;
}

.email{
    margin-bottom: 12px;
}

.modal_drop{
    background: var(--bg-nav);; 
    color: var(--text-nav);
}

.btns-profile .buttonLogin{
    margin: 0;
}

@media (max-width: 768px) {
    .nav-All .profile-nav{
        min-height: 40px;
        min-width: 40px;
        max-width: 40px;
        max-height: 40px;
    }
}