.card-contain {
    width: 280px;
    height: 280px;
    background: #ddd5d5;
    overflow: visible;
    box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    
    margin: 3rem 0;
   }
   
   .card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
   }
   
   .card-image {
    --size: 100px;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    transform: translateY(-50%);
    background: #42caff;
    background: linear-gradient(to bottom, #ffc107 0%, #e2f10e 100%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
   }

   .card-image::before {
    content: "";
    border-radius: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110%;
    height: 110%;
    transform: translate(-50%, -50%);
    border: 10px solid #fff; 
   }

   
   /*Text*/
   .text-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    color: #060628;
   }
   
   .text-body {
    font-size: .8em;
    text-align: center;
    color: #6f6d78;
    font-weight: 400;
    font-style: italic;
   }
   
   /*Hover*/
   
   .card-contain:hover .card-image {
    min-width: 110px;
    min-height: 110px;
   }