/* From uiverse.io by @satyamchaudharydev */
.cardWallet {
    --primary-clr: #34495E;
    --dot-clr: #BBC0FF;
    --play: hsl(195, 74%, 62%);
    width: 40rem;
    height: 40vh;
    border-radius: 10px;
   }
   
   .cardWallet {
    color: #fff;
    display: grid;
    cursor: pointer;
    grid-template-rows: 50px 1fr;
   }
   
   .cardWallet:hover .img-section {
    transform: translateY(1em);
   }
   
   .cardWallet-desc {
    border-radius: 10px;
    padding: 15px;
    position: relative;
    top: -10px;
    display: grid;
    gap: 10px;
    background: var(--primary-clr);
   }
   
   .cardWallet-time {
    font-size: 1.7em;
    font-weight: 500;
   }
   
   .img-section {
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: hsl(195, 74%, 62%);
    background-repeat: no-repeat;
    background-size: cover;

   }
   
   .cardWallet-header {
    display: flex;
    align-items: center;
    width: 100%;
   }
   
   .cardWallet-title {
    flex: 1;
    font-size: 0.9em;
    font-weight: 500;
   }
   
   .cardWallet-menu {
    display: flex;
    gap: 4px;
    margin-inline: auto;
   }
   
   .cardWallet svg {
    float: right;
    max-width: 100%;
    max-height: 100%;
   }
   
   .cardWallet .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--dot-clr);
   }
   
   .cardWallet .recent {
    line-height: 0;
    font-size: 0.8em;
   }