.section1 p{
    color: #fff!important;
}

.section2 h3,
.section2 p{
    color: #fff!important;
}

.section3 h3,
.section3 p{
    color: #fff!important;
}

.altura{

    height: 30vh;
}

.color-copy{
    color: rgb(192, 192, 189);
}