.card-promo{
    min-height: 500px;
    background: #ffc107;
    background: var(--bg-nav);
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    border: rgb(250, 250, 250) 0.2em solid;
    border-radius: 20px;
}
